@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: rgb(0, 25, 53);
  color: white;
}

.MuiButtonBase-root {
  z-index: 0;
}

.MuiBox-root {
  z-index: 100;
  background-size: cover;
  background-position: bottom 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.profile-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.cover-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
