@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f2f2f2;
  
}

.MuiButtonBase-root {
  z-index: 0;
}

.MuiBox-root {
  z-index: 100;
  background-size: cover;
  background-position: bottom 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
